body {
    font-family: serif;
    font-size: 8pt;
    margin: 0;
}

table {
    width: 100%;
}

table, td {
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 4px 6px;
}

.bordered {
    border: 1px solid #000;
    padding: 4px 6px;
}

.text-center {
    text-align: center;
}